<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Vendre ou échanger facilement et gratuitement son deux-roues!" />

    <meta property="og:title" content="Petites annonces deux-roues" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@WebPageContext.Current.Page.Context.Request.Url.ToString()" />
    <meta property="og:site_name" content="moto-echange.fr" />
    <meta property="og:image" content="@Url.AbsoluteContent(" ~ /Content/Images/logo.png")" />
    <meta property="og:description" content="Vendre ou échanger facilement et gratuitement son deux-roues!" />

    <title>Moto échange</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)

</head>

@{
    string style = (Session["estAdmin"] == null || !(Boolean)Session["estAdmin"]) ? "padding-top:0px;margin-top: 0px;" : "";
}

<body style="@style">

    @if (Session["estAdmin"] != null && (Boolean)Session["estAdmin"])
    {

        <div class="navbar navbar-default navbar-fixed-top">

            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        @if (Session["estAdmin"] != null && (Boolean)Session["estAdmin"])
                        {
                            <li>@Html.ActionLink("Annonces à valider", "AnnoncesAValider", "Annonces")</li>
                            <li>@Html.ActionLink("Annonces à autoriser", "AnnoncesAAutoriser", "Annonces")</li>
                            <li>@Html.ActionLink("Motos", "Index", "Motos")</li>
                            <li>@Html.ActionLink("Marques", "Index", "Marques")</li>
                            <li>@Html.ActionLink("Genres", "Index", "Genres")</li>
                        }
                    </ul>
                </div>
            </div>
        </div>

    }
    <div class="container body-content">

        <div class="row vertical-align">

            <div class="col-md-5 col-sm-6 col-xs-12">
                <h1>
                    <a href="@Url.Action("Index", "Annonces", null)" style="text-decoration: none;">
                        <img src="~/Content/Images/logo.png" alt="moto échange - Vendez ou échangez facilement votre deux-roues" class="img-responsive">
                    </a>
                </h1>
            </div>

            <div class="col-md-5 col-sm-6 col-xs-12 vcenter">
                <h2><span class="Phrase">Vendez ou échangez facilement votre deux-roues!</span></h2>
            </div>

            <div class="col-md-2 col-sm-12 col-xs-12 vcenter">
                @RenderSection("BoutonAjouter", required: false)
            </div>


        </div>

       @RenderBody()
        

        <hr />
        <footer class="text-center">
            &copy; @DateTime.Now.Year - moto-echange.fr |
            @Html.ActionLink("Contact", "Contact", "Home")
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Site_GoogleAnalytics.js"></script>

</body>
</html>
