@model PagedList.IPagedList<Motonet.Models.Annonce>

<div class="table-responsive">
    <table id="tableIndex" class="table">
        <tr>
            <th>

            </th>
            <th>

            </th>
            <th class="hidden-xs">
                @Html.ActionLink("Prix", (string)ViewBag.ActionName, new { sortOrder = ViewBag.PrixSortParm })
            </th>
            <th class="hidden-xs">
                @Html.ActionLink("Kilomètrage", (string)ViewBag.ActionName, new { sortOrder = ViewBag.KilometrageSortParm })
            </th>
            <th class="hidden-xs hidden-sm">
                @Html.ActionLink("Année", (string)ViewBag.ActionName, new { sortOrder = ViewBag.AnneeSortParm })
            </th>
            <th class="hidden-xs hidden-sm">
                @Html.ActionLink("Date", (string)ViewBag.ActionName, new { sortOrder = ViewBag.DateSortParm })
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr onclick="open_in_new_tab('@(Url.Action("Details", "Annonces", new { id = item.ID }))')">
                <td>
                    @if (item.Photos.Count > 0)
                    {
                        <img src="~/Photo?id=@item.Photos.Find(x => x.Taille == Photo.TypeTaille.Miniature && x.Principale == true).ID" alt="@item.MotoProposee.Identification" />
                    }
                </td>
                <td>
                    <h5 style="color:red;">@Html.DisplayFor(modelItem => item.Titre)</h5>
                    <span data-toggle="tooltip" data-html="true" title="@item.MotoProposee.IdentificationSuite" data-placement="right" >
                        <b>@Html.DisplayFor(modelItem => item.MotoProposee.Identification)</b>
                    </span>
                    <div>
                        @Html.DisplayFor(modelItem => item.Departement.Identification)
                    </div>
                </td>
                <td class="hidden-xs">
                    <div>@Html.DisplayFor(modelItem => item.PrixAvecUnite)</div>
                    @if (item.MotosAcceptees.Any() || item.MarquesAcceptees.Any() || item.GenresAcceptes.Any())
                    {
                        <span class="glyphicon glyphicon-retweet" aria-hidden="true" style="margin-top:10px;color:red;" data-toggle="tooltip" title="Echange possible!" data-placement="bottom"></span>
                    }
                </td>
                <td class="hidden-xs">
                    @Html.DisplayFor(modelItem => item.KilometrageAvecUnite)
                </td>
                <td class="hidden-xs hidden-sm">
                    @Html.DisplayFor(modelItem => item.Annee)
                </td>
                <td class="hidden-xs hidden-sm">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }

    </table>
</div>
