@model PagedList.IPagedList<Motonet.Models.Annonce>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Annonces compatibles";
}

<h2>Annonces compatibles</h2>


<br />
@Html.PagedListPager(Model, page => Url.Action("AnnoncesCompatibles",
    new { page, sortOrder = ViewBag.CurrentSort }))
<br />

@{Html.RenderPartial("~/Views/Shared/_ListeAnnonces.cshtml");}

<div>
    @Html.ActionLink("Revenir à l'annonce", "Details", new { id = ViewBag.annonceSourceId })
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("AnnoncesCompatibles",
    new { page, sortOrder = ViewBag.CurrentSort }))