@model Motonet.ViewModels.CreateEditViewModel


@{
    ViewBag.Title = "Ajouter une annonce";
    Layout = "~/Views/Annonces/CreateEdit.cshtml";
}

@section MotsDePasse
{

            <div class="form-group">
                @Html.LabelFor(model => model.Annonce.MotDePasse, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Annonce.MotDePasse, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-5">
                    @Html.ValidationMessageFor(model => model.Annonce.MotDePasse, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Annonce.ConfirmerMotDePasse, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Annonce.ConfirmerMotDePasse, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-5">
                    @Html.ValidationMessageFor(model => model.Annonce.ConfirmerMotDePasse, "", new { @class = "text-danger" })
                </div>
            </div>

}

