@model Motonet.Models.Annonce

@section Styles {
    
}

@{
    ViewBag.Title = "Details";
}

<h3>@Html.DisplayFor(model => model.Titre)</h3>

<hr />
  

<div class="row">

    <div class="col-md-4">
        <fieldset>
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.MotoProposee.Modele)
                </dt>
                <dd class="toolTipInfos">
                    @Html.DisplayFor(model => model.MotoProposee.Identification)
                    <div class="toolTipContent dn">@Model.MotoProposee.IdentificationSuite</div>
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Annee)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Annee)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Kilometrage)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.KilometrageAvecUnite)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Prix)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrixAvecUnite)
                </dd>

            </dl>
        </fieldset>

        <fieldset>
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Nom)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nom)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Departement)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Departement.Nom)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Mail)
                </dt>
                <dd>
                    <a href="mailto:@Model.Mail">@Model.Mail</a>
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Telephone)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Telephone)
                </dd>

            </dl>
        </fieldset>

        @if (Model.MotosAcceptees.Any() || Model.MarquesAcceptees.Any() || Model.GenresAcceptes.Any())
        {
            
            <fieldset>

                <h4>Echange possible!</h4>

                <dl class="dl-horizontal">

                    @if (Model.MotosAcceptees.Any())
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.MotosAcceptees)
                        </dt>
                        <dd>
                            <ul>
                                @foreach (Moto moto in Model.MotosAcceptees)
                                {
                                    <li class="toolTipInfos">@moto.Identification
                                        <div class="toolTipContent dn">@moto.IdentificationSuite</div>
                                    </li>
                                }
                            </ul>
                        </dd>
                    }

                    @if (Model.MarquesAcceptees.Any())
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.MarquesAcceptees)
                        </dt>
                        <dd>
                            <ul>
                                @if (ViewBag.ToutesMarques)
                                {
                                    <li>Toutes</li>
                                }
                                else
                                {
                                    foreach (Marque marque in Model.MarquesAcceptees)
                                    {
                                        <li>@marque.Nom</li>
                                    }
                                }
                            </ul>
                        </dd>
                    }

                    @if (Model.GenresAcceptes.Any())
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.GenresAcceptes)
                        </dt>
                        <dd>
                            <ul>
                                @if (ViewBag.TousGenres)
                                {
                                    <li>Tous</li>
                                }
                                else
                                {
                                    foreach (Genre genre in Model.GenresAcceptes)
                                    {
                                        <li>@genre.Nom</li>
                                    }
                                }
                            </ul>
                        </dd>
                    }

                </dl>
            </fieldset>
            
        }

    </div>

    <div class="col-md-8">

        @if (Model.Photos.Any())
        {


            <fieldset style="text-align: center;">

                <div id="0" name="Vignette" style="display: block;">
                    <img src="~/Photo?id=@Model.Photos.FindAll(x => x.Taille == Photo.TypeTaille.Vignette).ElementAt(0).ID" alt="Photo non disponible" />
                </div>

                @for (int i = 1; i < Model.Photos.FindAll(x => x.Taille == Photo.TypeTaille.Vignette).Count(); i++)
                {
                    <div id="@i" name="Vignette" style="display: none;">
                        <img src="~/Photo?id=@Model.Photos.FindAll(x => x.Taille == Photo.TypeTaille.Vignette).ElementAt(i).ID" alt="Photo non disponible" />
                    </div>
                }

                <br />
            
            
                @for (int i = 0; i < Model.Photos.FindAll(x => x.Taille == Photo.TypeTaille.Miniature).Count(); i++)
                {
                    <a href="javascript: gestionAffichageImages(@i)">
                        <img src="~/Photo?id=@Model.Photos.FindAll(x => x.Taille == Photo.TypeTaille.Miniature).ElementAt(i).ID" alt=" photo non disponible" />
                    </a>
                }

            </fieldset>

    
        }


        <pre>@Html.DisplayFor(model => model.Description)</pre>


</div>
    </div>

<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Supprimer", "Delete", new { id = Model.ID }) |
    @Html.ActionLink("Revenir à la liste des annonces", "Index") |
    @Html.ActionLink("Voir les annonces compatibles", "AnnoncesCompatibles", new { id = Model.ID })
</p>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        function gestionAffichageImages(indexVignette)
        {

            for (var i = 0; i < document.getElementsByName('Vignette').length; i++)
            {
                document.getElementsByName('Vignette')[i].style.display = 'none';
            }
            
            document.getElementById(indexVignette).style.display = 'block';
            
        }


    </script>

}