@model Motonet.Models.Annonce

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Annonce</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Annee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kilometrage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kilometrage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotoProposee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotoProposee.Identification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photos)
        </dt>

        <dd>
            @foreach (var photo in Model.Photos)
            {
                <img src="~/Photo?id=@photo.ID" alt="Image" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotDePasse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotDePasse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autorisee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autorisee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validee)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
