@using Motonet.Extensions;
@model Motonet.Models.Annonce

@section meta {

    <meta property="og:title" content="@Model.Titre" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@WebPageContext.Current.Page.Context.Request.Url.ToString()" />
    <meta property="og:site_name" content="moto-echange.fr" />
    @if (Model.Photos.Any())
    {
        <meta property="og:image" content="@Url.AbsoluteContent("~/Photo?id=" + Model.Photos.Find(x => x.Taille == Photo.TypeTaille.Vignette && x.Principale == true).ID)" />
    }
    else
    {
        <meta property="og:image" content="@Url.AbsoluteContent("/Content/Images/logo.png")" />
    }
    <meta property="og:description" content="@Model.Description" />

}

@section Styles {
    
}

@{
    ViewBag.Title = "Details";
}

<fieldset>

<div class="row">


        <div class="col-md-8">
            <h3>@Html.DisplayFor(model => model.Titre)</h3>
        </div>

        <div class="col-md-4 boutonsModifierSupprimer">
            <a class="btn btn-default" href="@Url.Content("~/Annonces/Edit/" + Model.ID)">
                <span class="glyphicon glyphicon-pencil" style="color:red;" aria-hidden="true"></span>
                Modifier
            </a>
            <a class="btn btn-default pull-right" href="@Url.Content("~/Annonces/Delete/" + Model.ID)">
                <span class="glyphicon glyphicon-trash" style="color:red;" aria-hidden="true"></span>
                Supprimer
            </a>
        </div>
    
    </div>

<hr />
  
<div class="row">

        <div class="col-md-8">

            @if (Model.Photos.Any())
            {

                <fieldset class="fieldsetPhotos">

                    <div id="0" name="Vignette" style="display: block;">
                        <img src="~/Photo?id=@Model.Photos.Find(x => x.Taille == Photo.TypeTaille.Vignette && x.Principale == true).ID" alt="@Model.Titre" class="img-responsive" />
                    </div>
                    @{
                int compteur = 0;
                foreach (Photo photo in Model.Photos.FindAll(x => x.Taille == Photo.TypeTaille.Vignette && x.Principale == false))
                {
                    compteur++;
                    <div id="@compteur" name="Vignette" style="display: none;">
                        <img src="~/Photo?id=@photo.ID" alt="@Model.Titre" class="img-responsive" />
                    </div>
                }
                    }

                    <br />

                    <a href="javascript: gestionAffichageImages(0)">
                        <img src="~/Photo?id=@Model.Photos.Find(x => x.Taille == Photo.TypeTaille.Miniature && x.Principale == true).ID" alt="@Model.MotoProposee.Identification" />
                    </a>

                    @{
                int compteur2 = 0;
                foreach (Photo photo in Model.Photos.FindAll(x => x.Taille == Photo.TypeTaille.Miniature && x.Principale == false))
                {
                    compteur2++;
                    <a href="javascript: gestionAffichageImages(@compteur2)">
                        <img src="~/Photo?id=@photo.ID" alt="@Model.MotoProposee.Identification" />
                    </a>
                }
                    }

                </fieldset>

            }
            else
            {
                <fieldset class="fieldsetPhotos">
                    <div id="0" name="Vignette" style="display: block;">
                        <img src="~/Content/Images/alt.png" alt="Photo non disponible" class="img-responsive" />
                    </div>
                </fieldset>
            }

        </div>

        <div class="col-md-4">

            <fieldset>

                <dl>

                    @if (Model.PresenceMotoPerso)
                    {
                        <dd class="vertical-align">
                            <span class="glyphicon glyphicon-warning-sign" style="color:orange" aria-hidden="true"></span>
                            @Html.DisplayFor(model => model.MotoPerso)
                        </dd>
                    }
                    else
                    {
                        <dd class="vertical-align">
                            <img src="~/Content/Images/motorcycle-16.ico" alt="Photo non disponible" data-toggle="tooltip" data-html="true" title="Modèle" data-placement="left"/><span data-toggle="tooltip" data-html="true" title="@Model.MotoProposee.IdentificationSuite" data-placement="right">@Html.DisplayFor(model => model.MotoProposee.Identification)</span>
                        </dd>
                    }
                    <dd class="vertical-align">
                        <img src="~/Content/Images/tear-of-calendar-16.ico" alt="Photo non disponible" data-toggle="tooltip" data-html="true" title="Année" data-placement="left" />@Html.DisplayFor(model => model.Annee)
                    </dd>
                    <dd class="vertical-align">
                        <img src="~/Content/Images/wheel-16.ico" alt="Photo non disponible" data-toggle="tooltip" data-html="true" title="Kilomètrage" data-placement="left" />@Html.DisplayFor(model => model.KilometrageAvecUnite)
                    </dd>
                    <dd class="vertical-align">
                        <img src="~/Content/Images/euro-16.ico" alt="Photo non disponible" data-toggle="tooltip" data-html="true" title="Prix" data-placement="left" />@Html.DisplayFor(model => model.PrixAvecUnite)
                    </dd>

                </dl>

            </fieldset>


            <fieldset>

                <dl>

                    <dd class="vertical-align">
                        <img src="~/Content/Images/date-from-16.ico" alt="Photo non disponible" data-toggle="tooltip" data-html="true" title="Date de l'annonce" data-placement="left" />@Html.DisplayFor(model => model.Date)
                    </dd>
                    <dd class="vertical-align">
                        <img src="~/Content/Images/user-16.ico" alt="Photo non disponible" data-toggle="tooltip" data-html="true" title="Pseudo du vendeur" data-placement="left" />@Html.DisplayFor(model => model.Nom)
                    </dd>
                    <dd class="vertical-align">
                        <img src="~/Content/Images/map-marker-16.ico" alt="Photo non disponible" data-toggle="tooltip" data-html="true" title="Département" data-placement="left" />@Html.DisplayFor(model => model.Departement.Identification)
                    </dd>
                    <dd class="vertical-align">
                        <img src="~/Content/Images/mail-16.ico" alt="Photo non disponible" data-toggle="tooltip" data-html="true" title="Mail" data-placement="left" />@Html.ActionLink("Envoyer un message", "EnvoyerMailAnnonce", new { id = Model.ID })
                    </dd>
                    <dd class="vertical-align">
                        <img src="~/Content/Images/phone-2-16.ico" alt="Photo non disponible" data-toggle="tooltip" data-html="true" title="Téléphone" data-placement="left" />@Html.DisplayFor(model => model.Telephone)
                    </dd>

                </dl>
            </fieldset>

            @if (Model.MotosAcceptees.Any() || Model.MarquesAcceptees.Any() || Model.GenresAcceptes.Any())
            {
                <fieldset>

                    <h4>Echange possible!</h4>

                    <dl>

                        @if (Model.MotosAcceptees.Any())
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.MotosAcceptees)
                            </dt>
                            <dd>
                                <ul>
                                    @foreach (Moto moto in Model.MotosAcceptees)
                                    {
                                        <li><span data-toggle="tooltip" data-html="true" title="@moto.IdentificationSuite" data-placement="right">@moto.Identification</span></li>
                                    }
                                </ul>
                            </dd>
                        }

                        @if (Model.MarquesAcceptees.Any())
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.MarquesAcceptees)
                            </dt>
                            <dd>
                                <ul>
                                    @if (ViewBag.ToutesMarques)
                                    {
                                        <li>Toutes</li>
                                    }
                                    else
                                    {
                                        foreach (Marque marque in Model.MarquesAcceptees)
                                        {
                                            <li>@marque.Nom</li>
                                        }
                                    }
                                </ul>
                            </dd>
                        }

                        @if (Model.GenresAcceptes.Any())
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.GenresAcceptes)
                            </dt>
                            <dd>
                                <ul>
                                    @if (ViewBag.TousGenres)
                                    {
                                        <li>Tous</li>
                                    }
                                    else
                                    {
                                        foreach (Genre genre in Model.GenresAcceptes)
                                        {
                                            <li>@genre.Nom</li>
                                        }
                                    }
                                </ul>
                            </dd>
                        }

                    </dl>

                    <div class="text-center">
                        <a class="btn btn-default" href="@Url.Content("~/Annonces/AnnoncesCompatibles/" + Model.ID)" style="white-space: normal;">
                            <span class="glyphicon glyphicon-resize-small" style="color:red;" aria-hidden="true"></span>
                            Voir les annonces compatibles
                        </a>
                    </div>

                </fieldset>
            }

        </div>

</div>

<div class="row">

    <div class="col-md-12">
        <pre class="texteDescription">@Html.DisplayFor(model => model.Description)</pre>
    </div>
        
</div>

    </fieldset>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        function gestionAffichageImages(indexVignette) {

            for (var i = 0; i < document.getElementsByName('Vignette').length; i++) {
                document.getElementsByName('Vignette')[i].style.display = 'none';
            }

            document.getElementById(indexVignette).style.display = 'block';

        }

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });


    </script>

}
