@model PagedList.IPagedList<Motonet.Models.Annonce>
@using PagedList.Mvc;


@section Styles {

    @Styles.Render("~/Content/chosenStyle")

    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
}


@section BoutonAjouter {
    <a class="glyphSize" href="@Url.Action("Create", "Annonces", null)">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Créer mon annonce</a>
}

<div class="row">

    <div class="col-md-12">

        <div class="panel panel-default" id="panel1">

            <div class="panel-heading collapser">
                <h4 class="panel-title">
                    <span data-toggle="collapse" data-target="#collapseOne">Filtrer</span>
                </h4>

            </div>

            <div id="collapseOne" class="panel-collapse collapse in">

                <div class="panel-body">

                    @using (Html.BeginForm("Index", "Annonces", FormMethod.Get, new { id = "formFilter" }))
                    {

                        <div class="row formFilter">

                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">Titres:</label>

                                    @Html.TextBox("FiltreTitre", ViewBag.CurrentFilterTitre as string, new { @class = "form-control", placeholder = "Titre" })
                                    @Html.TextBox("FiltreMoto", ViewBag.CurrentFilterMoto as string, new { @class = "form-control", placeholder = "Marque ou modèle" })

                                </div>
                            </div>

                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">Année:</label>
                                    @Html.TextBox("FiltreAnneeMin", ViewBag.CurrentFilterAnneeMin as string, new { @class = "form-control", type = "number", placeholder = "min", min = "1900", max = DateTime.Now.Year })
                                    @Html.TextBox("FiltreAnneeMax", ViewBag.CurrentFilterAnneeMax as string, new { @class = "form-control", type = "number", placeholder = "max", min = "1900", max = DateTime.Now.Year })

                                </div>
                            </div>

                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label>Kilomètrage:</label>
                                    @Html.TextBox("FiltreKilometrageMin", ViewBag.CurrentFilterKilometrageMin as string, new { @class = "form-control", type = "number", placeholder = "min", min = "0", max = "999999" })
                                    @Html.TextBox("FiltreKilometrageMax", ViewBag.CurrentFilterKilometrageMax as string, new { @class = "form-control", type = "number", placeholder = "max", min = "0", max = "999999" })
                                </div>
                            </div>

                        </div>

                        <div class="row formFilter">

                            <div class="col-xs-4">

                                <div class="form-group">
                                    <label>Prix:</label>
                                    @Html.TextBox("FiltrePrixMin", ViewBag.CurrentFilterPrixMin as string, new { @class = "form-control", type = "number", placeholder = "min", min = "0", max = "999999" })
                                    @Html.TextBox("FiltrePrixMax", ViewBag.CurrentFilterPrixMax as string, new { @class = "form-control", type = "number", placeholder = "max", min = "0", max = "999999" })
                                </div>
                            </div>

                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label>Cylindrée:</label>
                                    @Html.TextBox("FiltreCylindreeMin", ViewBag.CurrentFilterCylindreeMin as string, new { @class = "form-control", type = "number", placeholder = "min", min = "0", max = "7000" })
                                    @Html.TextBox("FiltreCylindreeMax", ViewBag.CurrentFilterCylindreeMax as string, new { @class = "form-control", type = "number", placeholder = "max", min = "0", max = "7000" })
                                </div>
                            </div>

                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label>Localisation:</label>
                                    @Html.ListBox("RegionsID", null, new { multiple = "multiple", @class = "chosen-select form-control", data_placeholder = "Région" })
                                    @Html.ListBox("DepartementsID", null, new { multiple = "multiple", @class = "chosen-select form-control", data_placeholder = "Département" })
                                </div>
                            </div>

                        </div>

                        <div class="row formFilter">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label>Qui recherche mon deux-roues?</label>
                                    @*@Html.DropDownList("MotoProposeeID", null, String.Empty, new { @class = "chosen-select form-control", data_placeholder = "Mon deux-roues" })*@
                                    @Html.TextBox("SearchString")
                                </div>
                            </div>
                        </div>

                        <div class="row formFilter">
                            <div class="col-xs-10">
                                <input type="submit" value="Filtrer" class="btn btn-danger btn-sm boutonFiltrer" />
                            </div>

                            <div class="col-xs-2 text-right">
                                <a class="btn btn-default btn-sm pull-right" onclick='clearForm()'>
                                    <span class="glyphicon glyphicon-remove" style="color:red;" aria-hidden="true"></span>
                                    Effacer les filtres
                                </a>

                            </div>

                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</div>


@{Html.RenderPartial("~/Views/Shared/_ListeAnnonces.cshtml");}




<div class="MaPagination">

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort }))
</div>
@section Scripts {

    @Scripts.Render("~/bundles/chosenJs")

    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/js.cookie.js"></script>

    <script src="~/Scripts/Site_AnnoncesIndex.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#SearchString").autocomplete({
                source: "/Motos/AutocompleteSuggestions",
                minLength: 1,
                select: function (event, ui) {
                    if (ui.item) {
                        $("#SearchString").val(ui.item.value);
                        $("form").submit();
                    }
                }
            });
        });
    </script>
}
