@model PagedList.IPagedList<Motonet.Models.Annonce>
@using PagedList.Mvc;


@section Styles {
    <link href="~/Content/chosen.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-fileinput/css/fileinput.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Annonces";
}

<br />


<div class="panel panel-default" id="panel1">
    <div class="panel-heading collapser">
        <h4 class="panel-title">
            <span data-toggle="collapse" data-target="#collapseOne">
                Filtrer
            </span>
        </h4>

    </div>
    <div id="collapseOne" class="panel-collapse collapse in">

        <div class="panel-body">

    @using (Html.BeginForm("Index", "Annonces", FormMethod.Get, new { id = "formFilter" }))
    {

        <div class="row formFilter">

            <div class="col-xs-4">
                <div class="form-group">
                    <label class="control-label">Titres:</label>

                    @Html.TextBox("FiltreTitre", ViewBag.CurrentFilterTitre as string, new { @class = "form-control", placeholder = "Titre" })
                    @Html.TextBox("FiltreMoto", ViewBag.CurrentFilterMoto as string, new { @class = "form-control", placeholder = "Marque ou modèle" })

                </div>
            </div>

            <div class="col-xs-4">
                <div class="form-group">
                    <label class="control-label">Année:</label>
                    @Html.TextBox("FiltreAnneeMin", ViewBag.CurrentFilterAnneeMin as string, new { @class = "form-control", type = "number", placeholder = "min", min = "1900", max = DateTime.Now.Year })
                    @Html.TextBox("FiltreAnneeMax", ViewBag.CurrentFilterAnneeMax as string, new { @class = "form-control", type = "number", placeholder = "max", min = "1900", max = DateTime.Now.Year })

                </div>
            </div>

            <div class="col-xs-4">
                <div class="form-group">
                    <label>Kilomètrage:</label>
                    @Html.TextBox("FiltreKilometrageMin", ViewBag.CurrentFilterKilometrageMin as string, new { @class = "form-control", type = "number", placeholder = "min", min = "0", max = "999999" })
                    @Html.TextBox("FiltreKilometrageMax", ViewBag.CurrentFilterKilometrageMax as string, new { @class = "form-control", type = "number", placeholder = "max", min = "0", max = "999999" })
                </div>
            </div>

        </div>

        <div class="row formFilter">

            <div class="col-xs-4">

                <div class="form-group">
                    <label>Prix:</label>
                    @Html.TextBox("FiltrePrixMin", ViewBag.CurrentFilterPrixMin as string, new { @class = "form-control", type = "number", placeholder = "min", min = "0", max = "999999" })
                    @Html.TextBox("FiltrePrixMax", ViewBag.CurrentFilterPrixMax as string, new { @class = "form-control", type = "number", placeholder = "max", min = "0", max = "999999" })
                </div>
            </div>

            <div class="col-xs-4">
                <div class="form-group">
                    <label>Cylindrée:</label>
                    @Html.TextBox("FiltreCylindreeMin", ViewBag.CurrentFilterCylindreeMin as string, new { @class = "form-control", type = "number", placeholder = "min", min = "0", max = "7000" })
                    @Html.TextBox("FiltreCylindreeMax", ViewBag.CurrentFilterCylindreeMax as string, new { @class = "form-control", type = "number", placeholder = "max", min = "0", max = "7000" })
                </div>
            </div>

            <div class="col-xs-4">
                <div class="form-group">
                    <label>Localisation:</label>
                    @Html.ListBox("RegionsID", null, new { multiple = "multiple", @class = "chosen-select form-control", data_placeholder = "Région" })
                    @Html.ListBox("DepartementsID", null, new { multiple = "multiple", @class = "chosen-select form-control", data_placeholder = "Département" })
                </div>
            </div>

        </div>

        <div class="row formFilter">
            <div class="col-xs-10">
                <input type="submit" value="Filtrer" class="btn btn-primary btn-sm boutonFiltrer" /> 
            </div>

            <div class="col-xs-2 text-right">
                <input type="button" id="buttonClear" onclick="clearForm()" value="Effacer les filtres" class="btn btn-default btn-sm" />
            </div>
        </div>



    }

    </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Titre
        </th>
        <th>
            Modèle
        </th>
        <th>
            Photo principale
        </th>
        <th>
            Département
        </th>
        <th>
            @Html.ActionLink("Année", "Index", new { sortOrder = ViewBag.AnneeSortParm })
        </th>
        <th>
            @Html.ActionLink("Kilomètrage", "Index", new { sortOrder = ViewBag.KilometrageSortParm })
        </th>
        <th>
            @Html.ActionLink("Prix", "Index", new { sortOrder = ViewBag.PrixSortParm })
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Titre, "Details", new { id = item.ID })
            </td>
            <td data-toggle="tooltip" data-html="true" title="@item.MotoProposee.IdentificationSuite" data-placement="left" data-container="body">
                @Html.DisplayFor(modelItem => item.MotoProposee.Identification, new { sortOrder = ViewBag.PrixSortParm })
            </td>
            <td>
                @if (item.Photos.Count > 0)
                {
                    <img src="~/Photo?id=@item.Photos.Find(x => x.Taille == Photo.TypeTaille.Miniature && x.Principale == true).ID" alt="Photo non disponible" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departement.Identification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KilometrageAvecUnite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixAvecUnite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }

</table>



<br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort }))

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <script src="~/Scripts/chosen.jquery.js"></script>
            <script src="~/Scripts/fileinput.js"></script>
            <script src="~/Scripts/fileinput_locale_fr.js"></script>

            <script type="text/javascript">
                $(".chosen-select").chosen({ no_results_text: "Pas de résultat pour", width: '100%' })

                $('form').validate({
                    ignore: []
                });


                $(document).ready(function () {
                    $('[data-toggle="tooltip"]').tooltip();
                });

                function clearForm() {
                    $('#formFilter').trigger("reset");
                    $(".chosen-select").val('').trigger("chosen:updated");
                    
                }

                $('#buttonClear').mouseup(function () {
                    $(this).blur();
                })

            </script>
        }
