@model PagedList.IPagedList<Motonet.Models.Annonce>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Annonces", FormMethod.Get))
{
    <p>
        Filtrer par le modèle ou la marque: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            Titre
        </th>
        <th>
            @Html.ActionLink("Moto proposée", "Index", new { sortOrder = ViewBag.MotoProposeeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Photos
        </th>
        <th>
            @Html.ActionLink("Année", "Index", new { sortOrder = ViewBag.AnneeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Kilométrage", "Index", new { sortOrder = ViewBag.KilometrageSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Prix", "Index", new { sortOrder = ViewBag.PrixSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotoProposee.Identification)
        </td>
        <td>
            @if (item.Photos.Count > 0)
            {
                <img src="~/Photo?id=@item.Photos.First().ID" alt="Image" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Annee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kilometrage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))